<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCbyjXQ8M7lwaQGsyZt1WHclWqwgW1hbuk</string>
	<key>GCM_SENDER_ID</key>
	<string>624563072454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nightscout.M8UYM6388E.trio</string>
	<key>PROJECT_ID</key>
	<string>trio-autoisf</string>
	<key>STORAGE_BUCKET</key>
	<string>trio-autoisf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<false/>
	<key>GOOGLE_APP_ID</key>
	<string>1:624563072454:ios:5a5600e91ffb59886056c7</string>
</dict>
</plist>
